{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Nova Categoria</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categoria/nova" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Nome da categorias" class="form-control">
        <label for="slug">Slug:</label>
        <input type="text" id="slug" name="slug" placeholder="Slug de Categorias" class="form-control">
        <br>
        <button type="submit" class="btn btn-success">Criar Categoria</button>
        <a href="/admin"><button type="button" class="btn btn-success">Retornar</button></a>
        </form>
    </div>
</div>