
<h1>Pagina inicial</h1>
<a href ="/admin/categorias/"><button class="btn btn-success mt-2 ">Listar Categorias</button></a> 
<a href ="/admin/categorias/add"><button class="btn btn-success mt-2 ">Nova Categoria</button></a> 
{{!-- <button class="btn btn-success">enviar</button> --}}
